# === Python ===
__pycache__/
*.pyc
venv/
.env

# === Docker y Bases de Datos (CRÍTICO) ===
postgres-data/
*.log

# Llaves SSH
*.pem
*.key

# === Herramientas (IDE) ===
.vscode/
.idea/

# === Terraform (Si decides usarlo después) ===
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl